<form action="/surveys/new" method="post">
  <label for="survey-title">Survey Title:</label>
  <input class="form-control" type="text" name="survey-title" id="survey-title">
  <button type="submit" class="btn btn-success">Create Survey</button>
</form>
