<h2><%= @survey.title %></h2>

<h3>Questions</h3>
<form action="/take-survey/<%= @survey.id %>/submit" method="post">
  <ol>
    <% @survey.questions.each do |question| %>
      <li><%= question.content %></li>
      <input class="form-control" type="text" name="result[][answer]" placeholder="Your Answer">
      <input type="hidden" name="question_id[][question_id]" value="<%= question.id %>">
    <% end %>
  </ol>
  <button type="submit" class="btn btn-success">Submit Answers</button>
</form>
<a href="/" class="btn btn-info">Back</a>
